.TaskSolution {
  flex-basis: 50%;
  padding-bottom: 20px;
}

.emptyMessage {
  text-align: center;
}

.progress {
  width: 250px;
}

.variablesContainer {
  position: relative;

  &.hide {
    height: 550px;
    overflow: hidden;
  }
}

.toggleShowMoreButton {
  position: absolute;
  right: 0;
  bottom: 0;
}
